{% extends 'base.html' %}

{% block content %}
    <h1>Stock Info Page</h1>
    {% if search %}
        {% if market_is_open %}
            <p>Enter a ticker symbol to get the ask price for.</p>
            <form action="{% url 'stock_info' %}" method="get">
                <input name="ticker" type="text" placeholder="Ticker Symbol">
            </form>
        {% elif not market_is_open %}
            <p>The market is closed. The ticker search is only available during market hours.</p>
        {% else %}
            <p>Something is broken.</p>
        {% endif %}
    {% elif not search %}
        <p>
            Ticker: {{ ticker }}
            <br>
            Ask Price: {{ ask_price }}
            <br>
            Bid Price: {{ bid_price }}
        </p>
        <form method='POST'> {% csrf_token %}
            Ticker:
            <select name='ticker'>
                <option value={{ ticker }}>{{ ticker }}</option>
            </select>
            Ask:
            <select name='ask_price'>
                <option value={{ ask_price }}>{{ ask_price }}</option>
            </select>
            Bid:
            <select name='bid_price'>
                <option value={{ bid_price }}>{{ bid_price }}</option>
            </select>
            I own the stock:
            <input type='checkbox' name='owned' value='True'>
            <input type='submit' value='Save Stock'/>
        <form>
    {% endif %}
{% endblock content %}